<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2 th:text="#{list_of_owners}">List of owners</h2>

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Full Name</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>City</th>
        <th>Telephone</th>
    </tr>
    <tr th:each="owner : ${owners}">
        <td th:text="${owner.id}" style="width: 150px">123</td>
        <td th:text="${owner.fullName}" style="width: 150px">Full name</td>
        <td th:text="${owner.contactDetails.firstName}" style="width: 150px">First name</td>
        <td th:text="${owner.contactDetails.lastName}" style="width: 150px">Last name</td>
        <td th:text="${owner.address}" style="width: 150px">Address</td>
        <td th:text="${owner.city}" style="width: 150px">City</td>
        <td th:text="${owner.telephone}" style="width: 150px">Telephone</td>
    </tr>
</table>

</body>
</html>